// reset
html, body, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q,
samp, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, canvas, embed,
figcaption, hgroup, output, ruby, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style-type: none;
}


// base styles
* {
  @include selection($c_white, $c_black);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 320px;
  margin: 0 auto;
  font-size: $font-size_base;
  line-height: ($line-height_base/$font-size_base);
  font-family: $font-family_base;
  font-weight: $font-weight_regular;
  color: $c_text;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}



