.container {
  @extend %clearfix;
  position: relative;
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;

  @include tablet-only {
    width: 660px;
  }

  @include desktop {
    width: 980px;
  }
  
}  