.container {
  @extend %clearfix;
  position: relative;
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;

  @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    width: 660px;
  }

  @media (min-width: $screen-lg) {
    width: 980px;
  }
  
}  