.title-text {
  margin-bottom: 28px;
  font-size: $font-size_md;
  line-height: $line-height_auto;
  font-weight: $font-weight_light;
}

.quote-text {
  line-height: ($line-height_md/$font-size_base);
  &:before {
    content: "«";
  }
  &:after {
    content: "»";
  }
}

.h2 {
  margin-bottom: 15px;
  font-size: $font-size_sm;
  font-weight: $font-weight_bold;
  line-height: ($line-height_base/$font-size_sm);
  color: $c_black;
}