.title-text {
  margin-bottom: 30px;
  font-size: $font-size-md;
  line-height: $line-height-auto;
  font-weight: 300;

  @include tablet {
    margin-bottom: 45px;
    font-size: $font-size-xl;
  }

  @include desktop {
    font-size: $font-size-xxl;
  }

}

.quote-text {
  margin: 0 0 30px;
  line-height: $line-height-md;
  &:before {
    content: "«";
  }
  &:after {
    content: "»";
  }
}

.h2 {
  margin-bottom: 12px;
  font-size: $font-size-sm;
  font-weight: 700;
  line-height: $line-height-base;
  color: #000;

  @include desktop {
    margin-bottom: 24px;
    font-size: $font-size-lg;
    line-height: $line-height-md;
  }
  
}