// placeholder
@mixin placeholder($color: #000) {
  &::-moz-placeholder {
    color: $color;   // Firefox
    opacity: 1; // See https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder {
    color: $color; // Internet Explorer 10+
  }
  &::-webkit-input-placeholder { 
    color: $color; // Safari and Chrome
  }
}


// selection
@mixin selection($txt-color, $bg-color) {
  &::-moz-selection {
    color: $txt-color;
    background-color: $bg-color;
  }
  &::selection {
    color: $txt-color;
    background-color: $bg-color;
  }
}


// retina images
@mixin hidpi($ratio: 1.5) {
  @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
  only screen and (min--moz-device-pixel-ratio: $ratio),
  only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
  only screen and (-o-min-device-pixel-ratio: $ratio),
  only screen and (min-resolution: #{$ratio}dppx) {
    @content;
  }
}

@mixin retina-image($filename, $background-size, $extension: png, $retina-big: false, $retina-suffix: -2x, $retina-suffix-big: -3x) {
  background-image: image-url("#{$filename}.#{$extension}");
  width: image-width("#{$filename}.#{$extension}");
  height: image-height("#{$filename}.#{$extension}");
  @include hidpi {
    background-image: image-url("#{$filename}#{$retina-suffix}.#{$extension}");
    background-size: $background-size;
  }
  @if $retina-big {
    @include hidpi(2.5) {
      background-image: image-url("#{$filename}#{$retina-suffix-big}.#{$extension}");
      background-size: $background-size;
    }
  }
}



// mediaqueries
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  } 
}

@mixin tablet-only {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  } 
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}