// grid
$columns: 12;
$column_offset: 10px;
$container_inner: 280px;
$container_offset: 20px;
$container_total: $container_inner + (2*$container_offset);


// font-family
$font-family_base: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
// font-size
$font-size_base: 14px;
$font-size_sm: 18px;
$font-size_md: 24px;
// line-height
$line-height_base: 24px;
$line-height_sm: 18px;
$line-height_md: 30px;
$line-height_lg: 32px;
$line-height_auto: 1.2;
// font-weight
$font-weight_light: 300;
$font-weight_regular: 400;
$font-weight_bold: 700;


// colors http://chir.ag/projects/name-that-color
$c_black: #000;
$c_white: #fff;

$c_clay: #283645;
$c_mirage: #1d2631;
$c_concrete: #f2f2f2;
$c_cerise: #d22856;
$c_silver: #bec2c7;
$c_mercury: #e5e5e5;

// color usage
$c_text: $c_clay;


// border-radius
$border-radius_base: 2px;
$border-radius_round: 50%;


// Responsive
$brkpoint_sm: 1px;
$brkpoint_md: 768px;
$brkpoint_lg: 1100px;