.btn {
  display: block;
  padding: 14px 14px 17px;
  border: 3px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: $font-size-sm;
  text-align: center;
  text-decoration: none;
  line-height: $line-height-sm;
  background-image: none;
  cursor: pointer;
  border-radius: 30px;
  transition: all .3s;

  @include desktop {
    font-size: $font-size-base + 7px;
  }

  &:hover,
  &:focus {
    color: $pink;
    background-color: #fff;
  }
      
  &:active {
    color: rgba($pink,.3);
    outline: 0;
    background-image: none;
  }

}