.contacts {
  position: relative;
  z-index: 100;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 0;
  text-align: center;
  background-color: #fff;

  &__text {
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;

    @media (min-width: $screen_md) {
      width: 300px;
      margin-bottom: 45px;

      &--left {
        float: left;
      }

      &--right {
        float: right;
      }

    }

  }

  &__title {
    display: block;
    font-size: $font-size-sm;
    line-height: $line-height-auto;
    font-weight: 700;
    color: $blue;

    @media (min-width: $screen_md) {
      margin-bottom: 5px;
    }
    
  }

  &__link {
    font-size: $font-size-md;
    color: $pink;
    font-weight: 300;
    text-decoration: none;
    transition: all .3s;

    &--state {
      border-bottom: 2px solid rgba($blue,0);

      &:hover {
        color: $blue;
        border-bottom-color: rgba($blue,2);
      }

      &:active {
        opacity: .3;
        border-bottom-color: rgba($blue,0);
      }

    }

  }

}