.contacts {
  position: relative;
  z-index: 100;
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: $c_white;

  &__text {
    margin-bottom: 20px;
    font-size: $font-size_md;
    line-height: $line-height_auto;
    font-weight: $font-weight_light;
    color: $c_cerise;
  }

  &__title {
    display: block;
    font-size: $font-size_sm;
    color: $c_clay;
    font-weight: $font-weight_bold;
  }

  // &:after {
  //   content: "";
  //   position: absolute;
  //   left: -20px;
  //   top: 100%;
  //   width: 100%;
  //   height: 52px;
  //   background: inline-image("footer_bg_triangle.png");
  // }

}