.contacts {
  position: relative;
  z-index: 100;
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: #fff;

  &__text {
    margin-bottom: 20px;
    font-size: $font-size-md;
    line-height: $line-height-auto;
    font-weight: 300;
    color: $pink;
  }

  &__title {
    display: block;
    font-size: $font-size-sm;
    color: $blue;
    font-weight: 700;
  }

  // &:after {
  //   content: "";
  //   position: absolute;
  //   left: -20px;
  //   top: 100%;
  //   width: 100%;
  //   height: 52px;
  //   background: inline-image("footer_bg_triangle.png");
  // }

}