.download {
  padding-top: 28px;
  padding-bottom: 30px;
  font-weight: $font-weight_light;
  background-color: $c_clay;   

  &__btn {
    position: relative;
    display: block;
    padding: 14px 14px;
    margin-bottom: 27px;
    border: 3px solid $c_white;
    color: $c_white;
    font-weight: $font-weight_bold;
    font-size: $font-size_sm;
    line-height: ($line-height_sm/$font-size_sm);
    border-radius: 30px;
  }

  &__icon-wrap {
    display: inline-block;
    height: 61px;
    margin-bottom: 20px;
    margin-left: 30px;
    overflow: hidden;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__icon {
    @extend %hide-text;
    display: block;

    &--apple {
      @include use-sprite("apple");
    }

    &--android {
      @include use-sprite("android");
    }

    &--windows {
      @include use-sprite("windows");
    }
  }

}