.download {
  position: relative;
  z-index: 100;
  width: 280px;
  margin: 0 auto;
  padding: 25px 0 30px;
  font-weight: 300; 
  color: #fff;

  @media (min-width: $screen_md) {
    position: absolute;
    left: 20px;
    top: 180px;
    width: 300px;
    margin-left: 0;
    padding: 0;
    font-size: $font-size-sm;
  }

  @media (min-width: $screen_lg) {
    top: 240px;
  }

  &__icon {
    @extend %hide-text;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-right: 30px;
    width: 46px;
    height: 60px;

    @media (min-width: $screen_md) {
      margin-bottom: 25px;
    }
    
    @media (min-width: $screen_lg) {
      margin-bottom: 55px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &--apple {
      background: inline-image("apple.svg") no-repeat 50% 100%;
    }

    &--android {
      background: inline-image("android.svg") no-repeat 50% 80%;
    }

    &--windows {
      background: inline-image("windows.svg") no-repeat 50% 80%;
    }

  }

  .btn { 
    margin-bottom: 25px;

    @media (min-width: $screen_md) and (max-width: $screen_lg - 1) {
      margin-bottom: 40px;
    }
    
    @media (min-width: $screen_lg) {
      margin-bottom: 60px;
    }

  }

}