.download {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 27px 0 30px;
  font-weight: 300; 
  color: #fff;

  @include tablet {
    position: absolute;
    left: 20px;
    top: 175px;
    width: 300px;
    margin-left: 0;
    padding: 0;
    font-size: $font-size-sm;
  }

  @include desktop {
    top: 232px;
  }

  &__icon {
    @extend %hide-text;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 46px;
    height: 60px;

    @include tablet {
      margin-bottom: 36px;
    }
    
    @include desktop {
      margin-bottom: 55px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &--apple {
      background: inline-image("apple.svg") no-repeat 50% 100%;
    }

    &--android {
      background: inline-image("android.svg") no-repeat 50% 80%;
    }

    &--windows {
      background: inline-image("windows.svg") no-repeat 50% 80%;
    }

  }

  .btn { 
    margin-bottom: 29px;

    @include tablet-only {
      margin-bottom: 43px;
    }
    
    @include desktop {
      margin-bottom: 64px;
    }

  }

}