.effect {
  display: none;
  
  @media (min-width: $screen_md) {
    display: block;
    min-height: 425px;
    padding-top: 55px;
    padding-bottom: 70px;
    
    &__content {
      float: right;
      width: 50%;
      text-align: left;

      &:before {
        content: "";
        position: absolute;
        left: 20px;
        top: 0;
        width: 262px;
        height: 302px;
        background: image-url("timer.png");
      }

    }

    &__title {
      padding: 41px 220px 10px 0;
      font-size: $font-size-lg;
      line-height: $line-height-xl;
      color: #000;
    }

    &__text {
      margin-bottom: 10px;
    }

  }

  @media (min-width: $screen_lg) {
    min-height: 435px;
    padding-top: 25px;
    padding-bottom: 65px;
    background-color: $gray;

    &__content {
      width: 572px;
      padding-top: 70px;

      &:before {
        width: 301px;
        height: 346px;
        background: image-url("timer_big.png");
      }

    }

    &__title {
      padding: 20px 100px 21px 0;
    }

    &__text {
      margin-bottom: 30px;
      font-size: $font-size-sm;
      line-height: $line-height-md;
    }

    a {
      font-size: $font-size-sm;
      line-height: $line-height-md;
    }

  }

}