.info {
  position: relative;
  padding-top: 40px;
  padding-bottom: 285px;
  background: $gray image-url("phone_hello.png") no-repeat 50% 110%;

  @media (min-width: $screen_md) {
    background-image: none;
    padding-bottom: 5px;
    padding-top: 0;
  }  

  @media (min-width: $screen_lg) {
    font-size: $font-size-sm;
    line-height: $line-height-md;
  }

  &:before {
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(to left top, $gray 50%, transparent 50%); 

    @media (min-width: $screen_md) {
      top: -55px;
      height: 55px;
    }
    
    @media (min-width: $screen_lg) {
      top: -75px;
      height: 75px;
    }

  }

  &__items {
    text-align: center;

    @media (min-width: $screen_md) and (max-width: $screen_lg - 1) {
      position: relative;
      float: right;
      width: 50%;
      text-align: left;

      &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: -310px;
        width: image-width("phone_hello_2.png");
        height: image-height("phone_hello_2.png");
        background: image-url("phone_hello_2.png") no-repeat 0 0;
      }

    }

  }

  &__item {
    position: relative;
    margin-bottom: 35px;

    @media (min-width: $screen_lg) {
      float: left;
      width: 300px;
      margin-right: 20px;
      padding: 270px 30px 0;

      &:last-child {
        margin-right: 0;
      }

      &:before {
        content: "";
        position: absolute;
        top: -80px;
        left: 30px;
        width: image-width("iphone-screen-gray.png");
        height: image-height("iphone-screen-gray.png");
        background: image-url("iphone-screen-gray.png") no-repeat -25px 0;
      }

      &--phone-pink:before {
        width: image-width("iphone-screen-pink.png");
        height: image-height("iphone-screen-pink.png");
        background-image: image-url("iphone-screen-pink.png");
      }

      &--phone-smile:before {
        width: image-width("iphone-screen-smile.png");
        height: image-height("iphone-screen-smile.png");
        background-image: image-url("iphone-screen-smile.png");
      }

    }

  }

}