.intro {
  padding-top: 40px;
  padding-bottom: 50px;

  @media (min-width: $screen_md) {
    padding-bottom: 110px;

    .title-text {
      margin-bottom: 0;

      &:last-child {
        width: 460px;
        margin: 0 auto;
      }
    }

  }

  @media (min-width: $screen_lg) {
    padding-top: 70px;
    padding-bottom: 150px;
  }

}