.intro {
  padding-top: 41px;
  
  @media (min-width: $screen-md) {
    padding-top: 49px;
    padding-bottom: 45px;

    .title-text {
      margin-bottom: 0;

      &:last-child {
        width: 460px;
        margin: 0 auto;
      }
    }

  }

  @media (min-width: $screen-lg) {
    padding-top: 66px;
    padding-bottom: 76px;
  }

}