.logo {
  float: left;

  a {
    @extend %hide-text;
    display: block;
    width: 74px;
    height: 24px;
    background: inline-image("logo_sm.svg") no-repeat 0 0;

    @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
      @include retina-image(logo_1, 145px 40px);

      &:hover {
        @include retina-image(logo_1_hover, 145px 40px);
      }

    }

    @media (min-width: $screen-lg) {
      @include retina-image(logo_2, 146px 40px);
    }

  }
  
}