.main-nav {
  @extend %clearfix;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 66px;
  padding-top: 3px;
  color: #fff;
  background-color: rgba(#000,.3);

  @media (min-width: $screen_md) {
    height: 110px;
    padding-top: 7px;
  }

  &--active {
    height: 70px;
    border-bottom: 1px solid #000;
    background-color: $blue;

    @media (min-width: $screen_md) {
      height: 110px;
    }

  }

  &__toggle {
    position: relative;
    float: right;
    width: 50px;
    height: 24px;
    border-top: 4px solid #fff;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 100%;
      height: 4px;
      background-color: #fff;
    }

    &:after {
      top: 16px;
    }

    @media (min-width: $screen_md) {
      margin-top: 17px;
    }

    @media (min-width: $screen_lg) {
      display: none;
    }

  }

  &__list {
    position: absolute;
    left: 0;
    top: 70px;
    display: none;
    width: 100%;
    font-size: $font-size-sm;
    line-height: $line-height-lg;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $screen_md) {
      top: 110px;
    }

    @media (min-width: $screen_lg) {
      position: static;
      float: right;
      display: block;
      width: auto;
      font-weight: 400;
      text-transform: capitalize;
    }

  }

  &__item {
    border-bottom: 1px solid #000;
    background-color: $blue;
    transition: all .3s;

    &:hover {
      color: $pink;

      @media (min-width: $screen_lg) {
        color: #fff;
      }

    }

    &:active {
      color: rgba($pink,.3);

      @media (min-width: $screen_lg) {
        color: #fff;
      }
    }

    @media (min-width: $screen_lg) {
      display: block;
      float: left;
      margin-right: 70px;
      border-bottom: none;
      background-color: transparent;

      &:last-child {
        margin-right: 0;
      }

    }


    &--active {
      color: $pink;

      @media (min-width: $screen_lg) {
        background-color: transparent;
      }

    }

  }

  &__link {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 2px solid rgba(#fff,0); 
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 1px rgba(#fff,.15);
    transition: all .3s;

    @media (min-width: $screen_lg) {
      padding-top: 13px;
      padding-bottom: 3px;
      box-shadow: none;

      &:hover {
        border-bottom-color: rgba(#fff,1); 
      }

      &:active {
        border-bottom-color: rgba(#fff,0);
        opacity: .3;
      }

    }

  }

}