.main-nav {
  @extend %clearfix;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  min-height: 66px;
  padding-top: 20px;
  color: #fff;
  background-color: rgba(#000,.3);

  @media (min-width: $screen-md) {
    min-height: 110px;
    padding-top: 28px;
  }

  &--active {
    min-height: 70px;
    border-bottom: 1px solid #000;
    background-color: $blue;

    @media (min-width: $screen-md) {
      height: 110px;
    }

  }

  &__toggle {
    position: relative;
    float: right;
    width: 50px;
    height: 24px;
    border-top: 4px solid #fff;
    transition: width .3s, border-color .3s;

    @media (min-width: $screen-md) {
      margin-top: 15px;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 100%;
      height: 4px;
      background-color: #fff;
      transition: all .3s;
    }

    &:after {
      top: 16px;
    }

    &:hover {
      border-top-color: $pink;
    }

    &:hover:before,
    &:hover:after {
      background-color: $pink;
    }

    &--active {
      border-top: none;
      width: 24px;

      @media (min-width: $screen-md) {
        margin-top: 20px;
      }

      &:before {
        top: 10px;
        transform: rotate(45deg);
      }

      &:after {
        top: 10px;
        transform: rotate(-45deg);
      }

    }

  }

  &__list {
    position: fixed;
    left: 0;
    top: 70px;
    display: none;
    width: 100%;
    font-size: $font-size-sm;
    line-height: $line-height-lg;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      top: 110px;
    }

    @media (min-width: $screen-lg) {
      position: static;
      float: right;
      display: block;
      width: auto;
      font-weight: 400;
      text-transform: capitalize;
    }

    &--active {
      display: block;
    }

  }

  &__item {
    border-bottom: 1px solid #000;
    background-color: $blue;
    transition: all .3s;

    &:hover a {
      color: $pink;

      @media (min-width: $screen-lg) {
        color: #fff;
      }

    }

    &:active a {
      color: rgba($pink,.3);

      @media (min-width: $screen-lg) {
        color: #fff;
      }
      
    }

    @media (min-width: $screen-lg) {
      float: left;
      margin-right: 70px;
      border-bottom: none;
      background-color: transparent;

      &:last-child {
        margin-right: 0;
      }

    }


    &--active a {
      color: $pink;

      @media (min-width: $screen-lg) {
        color: #fff;
        background-color: transparent;
      }

    }

  }

  &__link {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 2px solid rgba(#fff,0); 
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 1px rgba(#fff,.15);
    transition: all .3s;

    @media (min-width: $screen-lg) {
      margin-top: 5px;
      padding: 5px 0;
      box-shadow: none;

      &:hover {
        border-bottom-color: rgba(#fff,1); 
      }

      &:active {
        border-bottom-color: rgba(#fff,0);
        opacity: .3;
      }

    }

  }

}