.page-footer {

  &__map {
    width: 100%; 
    height: 220px;

    @media (min-width: $screen_md) {
      height: 380px;
    }

    @media (min-width: $screen_lg) {
      height: 511px;
    }

  }

  &__info {
    display: none;
    width: 100%;

    @media (min-width: $screen_md) and (max-width: $screen_lg - 1) {
      display: block;
      min-height: 127px;
      padding-top: 37px;
    }

    @media (min-width: $screen_lg) {
      display: block;
      min-height: 197px;
      padding-top: 74px;
    }

  }

  &__logo-wrap {
    float: left;
    width: 220px;
  }

  &__logo {
    @extend %hide-text;
    display: block;
    @include use-sprite("logo-footer_700");

    @media (min-width: $screen_lg) {
      @include use-sprite("logo-footer_1000");
    }

  }


  &__copyright {
    float: right;
    width: 220px;
    padding-top: 10px;
    text-align: right;

    @media (min-width: $screen_lg) {
      font-size: $font-size-sm;
    }

  }

  &__copy-link {
    @extend %hide-text;
    position: relative;
    display: inline-block;
    width: 27px;
    margin: 0 8px;
    vertical-align: middle;
    transition: all .3s;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 27px;
      opacity: 0;
      transition: all .3s;
    }

    &:hover:after {
      opacity: 1;
    }

    &:active {
      opacity: .3;
    }
    
    &--author {
      height: 30px;
      background: inline-image("glukhanko.svg") no-repeat 0 0;

      &:after {
        height: 30px;
        background: #fff inline-image("glukhanko_hover.svg") no-repeat 0 0;
      }

    }

    &--htmlacademy {
      height: 33px;
      margin-right: 0;
      background: inline-image("htmlacademy.svg") no-repeat 0 0;

      &:after {
        height: 33px;
        background: #fff inline-image("htmlacademy_hover.svg") no-repeat 0 0;
      }

    }


  }

}