.page-footer {

  &__map {
    position: relative;
    width: 100%; 
    height: 220px;

    @include tablet-only {
      height: 380px;
    }

    @include desktop {
      height: 511px;
    }

    &:before {
      content: "";
      position: absolute;
      top: -60px;
      left: 50%;
      z-index: 100;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 124px 720px 0 720px;
      border-color: #fff transparent transparent transparent;

      @include tablet-only {
        top: -35px;
      }

      @include desktop {
        top: 0;
      }

    }

  }

  &__info {
    display: none;
    width: 100%;

    @include tablet-only {
      display: block;
      min-height: 127px;
      padding-top: 37px;
    }

    @include desktop {
      display: block;
      min-height: 197px;
      padding-top: 74px;
    }

  }

  &__logo-wrap {
    float: left;
    width: 220px;
  }

  &__logo {
    @extend %hide-text;
    display: block;
    @include retina-image(logo_3, 145px 40px);

    @include desktop {
      @include retina-image(logo_4, 146px 40px);
    }

  }


  &__copyright {
    float: right;
    width: 220px;
    padding-top: 10px;
    text-align: right;

    @include desktop {
      font-size: $font-size-sm;
    }

  }

  &__copy-link {
    @extend %hide-text;
    position: relative;
    display: inline-block;
    width: 27px;
    margin: 0 8px;
    vertical-align: middle;
    transition: all .3s;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 27px;
      opacity: 0;
      transition: all .3s;
    }

    &:hover:after {
      opacity: 1;
    }

    &:active {
      opacity: .3;
    }
    
    &--author {
      height: 30px;
      background: inline-image("glukhanko.svg") no-repeat 0 0;

      &:after {
        height: 30px;
        background: #fff inline-image("glukhanko_hover.svg") no-repeat 0 0;
      }

    }

    &--htmlacademy {
      height: 33px;
      margin-right: 0;
      background: inline-image("htmlacademy.svg") no-repeat 0 0;

      &:after {
        height: 33px;
        background: #fff inline-image("htmlacademy_hover.svg") no-repeat 0 0;
      }

    }


  }

}