.page-header {
  position: relative;
  min-height: 729px;
  padding-top: 87px;
  color: #fff;
  background: $blue image-url("header_bg.jpg") no-repeat 50% 0;
  overflow: hidden;

  @media (min-width: $screen_md) {
    padding-top: 205px;
    background-image: image-url("header_bg_2.jpg");
    background-size: cover;
  }

  @media (min-width: $screen_lg) {
    min-height: 854px;
    padding-top: 220px;
    background-image: image-url("header_bg_3.jpg");
    background-size: cover;
  }

  &__hand-img {
    content: "";
    position: relative;
    right: 30px;
    display: block;
    margin: 0 auto;
    width: image-width("header_bg_hand.png");
    height: image-height("header_bg_hand.png");
    background: image-url("header_bg_hand.png") no-repeat 0 0;

    @media (min-width: $screen_md) {
      position: absolute;
      right: -15px;
      width: image-width("header_bg_hand_2.png");
      height: image-height("header_bg_hand_2.png");
      background: image-url("header_bg_hand_2.png") no-repeat 0 0;
    }

    @media (min-width: $screen_lg) {
      position: absolute;
      right: -100px;
      width: image-width("header_bg_hand_3.png");
      height: image-height("header_bg_hand_3.png");
      background: image-url("header_bg_hand_3.png") no-repeat 0 0;
    }

  }

  &__text {
    width: 280px;
    margin: 0 auto 30px;
    font-size: $font-size-md;
    line-height: $line-height-auto;
    font-weight: 300;

    @media (min-width: $screen_md) {
      position: absolute;
      left: 20px;
      z-index: 100;
      width: 300px;
      margin: 0 0 30px;
      padding-left: percentage(40px / 700px);
      padding-right: percentage(40px / 700px);
      font-size: $font-size-xl;
      text-align: center;
    }

    @media (min-width: $screen_lg) {
      padding: 0;
      font-size: $font-size-xxl;
    }

  }

}