.price-option {
  position: relative;
  width: 280px;
  margin: 0 auto 40px;
  text-transform: uppercase;

  &--hit:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    @include use-sprite("hit");
  }

  &__header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 2px solid $c_mercury;
    border-right: 2px solid $c_mercury;
    color: $c_white;
    text-align: center;
    background-color: $c_clay;
  } 
  
  &__title {
    font-size: $font-size_sm;
    line-height: ($line-height_md/$font-size_sm);
    font-weight: $font-weight_bold;
  } 

  &__cost {
    font-size: $font-size_md;
    line-height: ($line-height_md/$font-size_md);
    font-weight: $font-weight_light;
  }

  &__list {
    text-align: left;
  }

  &__item {
    position: relative;
    padding: 20px 68px 17px 22px;
    border: 2px solid $c_mercury;
    border-top: none;
    background-color: $c_white;
  }

  &__icon {
    @extend %hide-text;
    position: absolute;

    &--true {
      top: 19px;
      right: 18px;
      @include use-sprite("yes");
    }

    &--false {
      top: 16px;
      right: 19px;
      @include use-sprite("no");
    }

  }

}