.price {
  position: relative;
  padding-top: 97px;
  padding-bottom: 41px;
  background-color: $gray;

  @include tablet-only {
    padding-top: 84px;
    padding-bottom: 69px;

    .slider__controls {
      display: none;
    }
  }

  @include desktop {
    padding-top: 139px;
    padding-bottom: 37px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(to left top, $gray 50%, #fff 50%);

    @include tablet-only {
      height: 50px  ;
    }

    @include desktop {
      height: 75px;
    }
    
  }

  .slider__controls-item {
    border: 3px solid $gray;

    &--active {
      border-color: $blue;
    }

  }

}