.price-option {
  position: relative;
  width: 280px;
  margin: 0 auto 40px;
  text-transform: uppercase;

  &--hit:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    @include use-sprite("hit");
  }

  &__header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 2px solid $gray-light;
    border-right: 2px solid $gray-light;
    color: #fff;
    text-align: center;
    background-color: $blue;
  } 
  
  &__title {
    margin: 0;
    font-size: $font-size-sm;
    line-height: ($line-height-md / $font-size-sm);
    font-weight: 700;
  } 

  &__cost {
    font-size: $font-size-md;
    line-height: ($line-height-md / $font-size-md);
    font-weight: 300;
  }

  &__list {
    text-align: left;
  }

  &__item {
    position: relative;
    padding: 20px 68px 17px 22px;
    border: 2px solid $gray-light;
    border-top: none;
    background-color: #fff;
  }

  &__icon {
    @extend %hide-text;
    position: absolute;

    &--true {
      top: 19px;
      right: 18px;
      @include use-sprite("yes");
    }

    &--false {
      top: 16px;
      right: 19px;
      @include use-sprite("no");
    }

  }

}