.price-table-wrap {
  position: relative;
  min-height: 280px;
  margin: 0 auto 45px;
  overflow: hidden;

  @media (min-width: $screen_md) {
    min-height: 0;
    margin: 0 auto;
  }

}


.price-table {
  position: absolute;
  left: 50%;
  // width: 834px;
  width: 270%;
  text-transform: uppercase;
  text-align: left;
  transform: translateX(-50%);

  @media (min-width: $screen_md) {
    position: static;
    width: 620px;
    margin: 0 auto;
    transform: none;
  }

  @media (min-width: $screen_lg) {
    width: 940px;
  }

  tr:first-child {
    background-color: $blue; // решает некорректное отображение бордюров в firefox
  }

  tr:nth-child(n+2) {
    background-color: #fff; // решает некорректное отображение бордюров в firefox
  }

  td {
    width: 278px;
    vertical-align: middle;

    @media (min-width: $screen_md) {
      width: 155px;
    }

    &:first-child {
      display: none;

      @media (min-width: $screen_md) {
        display: table-cell;
        border-right: none;
      }

    }

  }


  &__empty {
    border-bottom: 2px solid $gray-light;
    background-color: $gray; // решает некорректное отображение бордюров в firefox
  }


  &__header {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 2px solid $gray-light;
    border-right: 2px solid $gray-light;
    color: #fff;
    text-align: center;

    @media (min-width: $screen_md) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &--hit:after {
      content: "";
      position: absolute;
      top: 0;
      left: -2px;
      @include use-sprite("hit");

      @media (min-width: $screen_md) and (max-width: $screen_lg - 1) {
        @include use-sprite("hit_sm");
      }

    }

  } 


  &__title {
    margin: 0;
    font-size: $font-size-sm;
    line-height: $line-height-md;
    font-weight: 700;

    @media (min-width: $screen_md) and (max-width: $screen_lg - 1) {
      font-size: 16px;
    }

  } 


  &__cost {
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-weight: 300;

    @media (min-width: $screen_md) and (max-width: $screen_lg - 1) {
      font-size: $font-size-sm;
    }

  }


  &__cell {
    position: relative;
    padding: 20px 68px 17px 22px;
    border: 2px solid $gray-light;
    border-top: none;

    @media (min-width: $screen_md) and (max-width: $screen_lg - 1) {
      font-size: 0;
      padding: 10px 15px;

      &:first-child {
        font-size: $font-size-base;
        text-align: left;
        text-transform: none;
      }

    }

    @media (min-width: $screen_lg) {
      font-size: 0;
      text-transform: none;

      &:first-child {
        font-size: $font-size-sm;
      }

    }

  }

  &__icon {
    @extend %hide-text;
    display: inline-block;
    position: absolute;

    &--true {
      top: 19px;
      right: 18px;
      width: 29px;
      height: 22px;
      background: inline-image("yes.svg") no-repeat 0 0;

      @media (min-width: 680px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

    &--false {
      top: 16px;
      right: 19px;
      width: 26px;
      height: 26px;
      background: inline-image("no.svg") no-repeat 0 0;

      @media (min-width: 680px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

  }


}