.price {
  position: relative;
  padding-top: 97px;
  padding-bottom: 41px;
  background-color: $gray;

  @media (min-width: $screen_md) {
    padding-top: 84px;
    padding-bottom: 69px;

    .slider__controls {
      display: none;
    }
  }

  @media (min-width: $screen_lg) {
    padding-top: 139px;
    padding-bottom: 113px;
  }



  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(to left top, $gray 50%, #fff 50%);

    @media (min-width: $screen_md) {
      height: 50px  ;
    }

    @media (min-width: $screen_lg) {
      height: 75px;
    }
    
  }

  .slider__switcher {
    border: 3px solid $gray;

    &--active {
      border-color: $blue;
    }

  }

}