.reviews {
  padding-top: 45px;
  padding-bottom: 30px;

  @include tablet-only {
    padding-top: 8px;
    padding-bottom: 20px;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 20px;

    .slider__switcher {
      display: none;
    }

  }

  &__item {
    position: relative;

    @include tablet {
      padding-bottom: 80px;
    }

  }
  
  &__title {
    margin-bottom: 17px;
    font-size: $font-size-sm;
    color: #000;

    @include tablet {
      position: absolute;
      bottom: 30px;
      width: 100%;
      margin-bottom: 0;
      font-size: $font-size-sm + 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include desktop {
      font-size: $font-size-md;
      line-height: $line-height-md;
    }

  }

  &__title-about {
    display: none;

    @include tablet {
      display: block;
      margin-top: 8px;
      font-size: $font-size-base;
      font-weight: 400;
      color: $c_text;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include desktop {
      margin-top: 2px;
      font-size: $font-size-sm;
    }

  }

  &__text {
    margin: 0 0 26px;
    line-height: $line-height-md;

    @include tablet-only {
      margin-bottom: 44px;
      font-size: $font-size-sm;
    }

    @include desktop {
      position: relative;
      margin-bottom: 48px;
      padding: 186px 130px 0;
    }

    &:before {
      content: "«";

      @include desktop {
        content: "\201c";
        position: absolute;
        left: 50%;
        top: 50px;
        height: 110px;
        font: 240px/1 Georgia, Arial, sans-serif;
        color: #efefef;
        transform: translateX(-50%);
        overflow: hidden;
      }

    }

    &:after {
      content: "»";

      @include desktop {
        display: none;
      }

    }

  }

}