.reviews {
  padding-top: 40px;
  padding-bottom: 60px;

  @media (min-width: $screen_md) {
    padding-top: 15px;
    padding-bottom: 110px;

    .h2 {
      display: none;
    }

  }
  
  &__title {
    display: none;
    margin-bottom: 40px;
    font-size: 20px;
    color: #000;

    @media (min-width: $screen_md) {
      display: block;
    }

  }

  &__title-about {
    display: block;
    font-size: $font-size-base;
    font-weight: 400;
    color: $c_text;
  }

  &__text {
    margin: 0 0 35px;
    line-height: $line-height-md;

    @media (min-width: $screen_md) {
      font-size: $font-size-sm;
    }

    @media (min-width: $screen_lg) {
      position: relative;
      padding-left: 130px;
      padding-right: 130px;
      padding-top: 170px;
    }

    &:before {
      content: "«";

      @media (min-width: $screen_lg) {
        content: "\201c";
        position: absolute;
        left: 50%;
        top: 50%;
        font: 240px/36px Georgia, Arial, sans-serif;
        color: #efefef;
        transform: translateX(-50%);
      }

    }

    &:after {
      content: "»";

      @media (min-width: $screen_lg) {
        display: none;
      }

    }

  }

}