.slider {
  position: relative;

  @media (min-width: $screen_lg) {

    &__arrow {
      position: absolute;
      top: 50%;
      opacity: .3;
      transition: opacity .3s;

      &--left {
        left: 0;
        @include use-sprite("arrow_left");
      }
    
      &--right {
        right: 0;
        @include use-sprite("arrow_right");
      }

      &:hover {
        opacity: 1;
      }

    }

  }

  &__controls {
    font-size: 0;
    text-align: center;
  }

  &__switcher {
    box-sizing: content-box;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px;
    border: 3px solid #fff;
    vertical-align: middle;
    background-color: rgba($blue,.3);
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: rgba($blue,.6);
    }

    &:active {
      background-color: rgba($blue,.1);
    }

    &--active {
      border: 3px solid $blue;
      background-color: #fff;

      &:hover {
        background: #fff;
      }

      &:active {
        background: #fff;
      }
      
    }

  }

}


.slides {

  &__item {
    position: absolute;
    top: 0;
    display: none;

    &--active {
      position: static;
      display: block;
    }
  }

}