.slider {

  &--reviews {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &--price {
    position: relative;
    padding-top: 66px;
    padding-bottom: 48px;
    background-color: $c_concrete;

    &:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 100%;
      height: 25px;
      background: inline-image("triangle.png") no-repeat 50% 0;
    }

  }

  &__controls {
    font-size: 0;
    text-align: center;
  }

  &__switcher {
    box-sizing: content-box;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px;
    vertical-align: middle;
    background-color: $c_silver;
    border-radius: $border-radius_round;
    cursor: pointer;

    &:hover {
      margin: 0 3px;
      border: 3px solid $c_clay;
      background-color: $c_white;
    }

    &--active {
      margin: 0 3px;
      border: 3px solid $c_clay;
      background-color: $c_white;
    }

  }

}

.slides {
  position: relative;
}

.slides {
  position: relative;

  &__item {
    position: absolute;
    top: 0;
    display: none;

    &:nth-child(1) {
      position: static;
      display: block;
    }
  }

}