.slider {
  position: relative;

  &__controls {
    font-size: 0;
    text-align: center;

    @media (min-width: $screen_md) {

      &--price {
        display: none;
      }

    }

  }

  &__switcher {
    box-sizing: content-box;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    border: 3px solid #fff;
    vertical-align: middle;
    background-color: $gray-dark;
    border-radius: 50%;
    cursor: pointer;

    &--border-gray {
      border: 3px solid $gray;
    }

    &:hover {
      border: 3px solid $blue;
      background-color: #fff;
    }

    &--active {
      border: 3px solid $blue;
      background-color: #fff;
    }
    
  }


  @media (min-width: $screen_lg) {

    &__arrow {
      position: absolute;
      top: 48%;
      opacity: .3;
      transition: opacity .3s;
      @include use-sprite("arrow_left");

      &--left {
        left: 0;
      }
    
      &--right {
        right: 0;
        @include use-sprite("arrow_right");
      }

      &:hover {
        opacity: 1;
      }

    }

  }

}


.slides {

  &__item {
    position: absolute;
    top: 0;
    display: none;

    &--active {
      position: static;
      display: block;
    }
  }

}